# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(import.meta.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgres://gitpod:postgres@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE

#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!---- IMPORTANTE ----!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#!!!                                                                                                            !!!
#!!!       REINICIAR LA TERMINAL DE PYTHON AL MODIFICAR EL .ENV (CTRL+C -->LUEGO ---> PIPENV RUN START)         !!!
#!!!                                                                                                            !!!
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

#FRONTEND_ORIGIN=https://stunning-goggles-5grrpxqjqjj73v557-3000.app.github.dev #<------  cambiar URL  !IMPORTANTE AGREGAR ESTA VARIABLE!
#------------^^ esta url es la misma que el vite pero cambiando el niumero de puerto y quiter la / del final^^----------------
# Front-End Variables
#vvvv>>>>>>>>>>>no tocar estos email services<<<<<<<vvvvvvv
VITE_EMAILJS_SERVICE_ID=service_xzzv7jv
VITE_EMAILJS_TEMPLATE_ID=template_ykyltjf
VITE_EMAILJS_PUBLIC_KEY=X0_Wo0ndE_LDD3hDr

VITE_BASENAME=/
#VITE_BACKEND_URL=